/* Colors used:
primary-color : light orange
button-primary: red
button-secondary: purple
grid-background-color: pink
*/

:root {
  --primary-color: #ffe4c4;
  --button-primary: #e46b75;
  --button-secondary: #cdc1f1;
  --grid-background-color: #f7c8c2;

  --light-blue: #bac6d1;
  --dark-grey: #2b2b2b;
  --white: #ffffff;

  --standard-max-width: 700px;
  --font-weight: 700;


}

body {
  background-color: var(--primary-color);
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
  }
h1  {
    font-size: 30px;
    font-weight: var(--font-weight);
}

h2  {
    font-size: 24px;
    font-weight: var(--font-weight);
}

h3  {
    font-size: 18px;
    font-weight: var(--font-weight);
}

a {
    color: var(--maroon);
}

a:hover, a:focus   {
      text-decoration: none;
}
a:visited {
    color: var(--dark-grey);
}

a:active {
    color: 	var(--light-blue);
}

button,
.button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--button-primary);
    color: var(--white);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition-duration: 0.2s opacity;
    transition-timing-function: ease-in-out;
}
button:hover, button:focus,
.button:hover, .button:focus {
    cursor: pointer;
    opacity: 0.7;
}

.button__secondary {
    background-color: var(--button-secondary);
    color: white;
  }

.navigation-list__item--active {
    text-decoration: none;
  }

  .page-header {
    clear: both;
    display: flex;
    width: 100%;
    padding: 20px;

 
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

  .profile_portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
  }

  .profile {
    max-width: var(--standard-max-width);
    margin: 0 auto;
  }

  .navigation-list {
    list-style-type: none;
    margin-right: 30px;
  }
x
  .navigation-list li {
      display: inline-block;
      margin-left: 15px;
  }

  .grid_item {
      display: inline-block;
      width: 33%;
  }

  .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
  }
  
  .grid_item {
    background-color: var(--grid-background-color);
    width: auto;
    min-height: auto;
    margin: 10px;
    padding: 20px;
  }

  .grid_item:last-child {
    grid-column: 3 / 3;
    grid-row: 3 / 1;
  }

  .page-footer {
    clear: both;
    display: flex;
    text-align: center;
    flex-shrink: 1;
    flex-grow: 1;
    flex-direction: column;
  }

  .work {
      text-align: center;
  }

    * {
    box-sizing: border-box;
  }
 
  @media all and (max-width: 500px) {
    .grid {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
    .grid_item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 20px;
    }
  }
  @media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
    .grid_item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }

 .about-me {
    max-width: var(--standard-max-width);
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
  }

  @keyframes star-front-move {
      from {
          transform: translate(550.1982,116.2676);
      }
      to {
          transform: translate(600px, 500px);
      }
  }
  .star-front {
    animation: 10s star-front-move infinite alternate linear;
    transform: rotate(180deg);
  }
  
  @keyframes star-back-move {
    from {
      transform: translate(93.5234,441.1226);
    }
    to {
      transform: translate(600px, 100px);
    }
  }
  .star-back {
    animation: 15s star-back-move infinite alternate linear;
  }

.contact-form, .contact-information {
    max-width: var(--standard-max-width);
    margin: 0 auto;
    text-align: center;
}

.drawing   {
    max-width: var(--standard-max-width);
    margin: 0 auto;
  }